
/* MAIN CSS FILE
Embedded elements linked to style sheet stored in "Public Files" folder of Google Drive via following link:
<link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?id=DISCONTINUED">
 
NOTE: use of google drive to host CSS file introduced lag, the CSS will still be stored within Google Drive but within a GitHub repository 
      The CSS file will now be referenced using the following:
<link rel="stylesheet" type="text/css" href="https://7oakswelcomesrefugees.github.io/main.css">
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

	body {
		margin: 0;
	}

	p {
		font-family:'Open Sans';
		color: #212121;
		font-size: 18px; 
	}

	a {
		font-family:'Open Sans';
		color: #212121;
		font-size: 18px; 
	}

	td
	{
	    padding:0 15px;
	    align: left;
	}
	 th, td {
	    font-size: 18px; 
	    font-family:'Open Sans';
	    color:#212121;
	}

	ul {
		font-family:'Open Sans';
		text-decoration:none; 
		color: #212121; 
		font-size: 18px; 
		text-align: left; 
		line-height: 1.5;
	}

	/* Get involved page */
	p.getinvolved {
		font-size: 18px; 
	}

	div.getinvolved {
		text-align:left; 
		padding: 0px 0px 0px 0px
	}
	/* Landlords */
	#FAQheader {
		text-decoration: none; 
		font-size: 30px;
	}

	/* Donate */
	div.donate {
		padding: 0px 0px 0px 20px;
	}

	p.donate {
		font-size: 18px; 
	}	

	/* Cookbook */
	.overlay {
	   background:transparent; 
	   position:relative; 
	   width:100%;
	   height:540px; /* your iframe height */
	   top:540px;  /* your iframe height */
	   margin-top:-540px;  /* your iframe height */
	   z-index: 99;
	   cursor: pointer;
	}

	.column {
	  float: left;
	  width: 33.33%;
	  padding-bottom: 0px;
	  padding-top: 0px;
	}

/* Clearfix (clear floats) */
	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}


  .logoHeader {
  	width: 100%;
  	max-height: 100%;
  	object-fit: contain;
  }

  .infowindow {
  	float: left;
  	display:inline-block;
  }

	/* About us */
	div.aboutus {
		padding: 0px 0px 0px 7px;
	}

	a.aboutus {
		font-family:'Open Sans';
		color: #212121; 
		text-decoration: none; 
		font-size: 25px;  
		line-height: 1.3;
	}

	/* Safeguarding*/
	table.safeguarding {
	  	border: 1px double #212121;
  		border-spacing:0;
  		border-radius: 6px;
	}

	div.safeguarding {
		padding-left: 15px;
	}

	table.safeguarding td {
  		border: 1px solid #212121;
  		border-spacing:0;
	}

	/* Contact us */
	div.contactus {
		padding: 2px 0 0 0;
	}
	#addressblurb {
		font-size: 18px;
	}