/* Script include tag:
<script type="text/javascript" src="https://7oakswelcomesrefugees.github.io/mobile_adjustment.js"></script>
*/

div.aboutus {
	margin-top: -2px;
}

a.aboutus {
		font-family:'Open Sans';
		color: #212121; 
		text-decoration: none; 
		font-size: 19px;  
		line-height: 1.2;
		height: 40px;
	}

#addressblurb {
	font-size: 18px;
	padding-left: 10%;
}

#map_iframe {
	height:240;
}