/* Script include tag:
<script type="text/javascript" src="https://7oakswelcomesrefugees.github.io/mobile_adjustment.js"></script>
*/

div.aboutus {
	margin-top: -2px;
}

/*Trustee name and position */

a.aboutus {
		font-family:'Open Sans';
		color: #212121; 
		text-decoration: none; 
		font-size: 19px;  
		line-height: 1.2;
		height: 40px;
	}

/* Contact us address */	

#addressblurb {
	font-size: 18px;
	padding-left: 10%;
}

/* Embedded Google map */

:root {
  --map-window-height: 220px;
}

#map_iframe {
	height: var(--map-window-height);
}

.overlay {

   height: var(--map-window-height); /* your iframe height */
   top: var(--map-window-height);  /* your iframe height */
   margin-top: calc(var(--map-window-height)*-1);  /* your iframe height */
}